@model Sample_ToDo_WebApp.Models.ToDoModel

@{
    ViewData["Title"] = "Home Page";
}

<nav class="sidebar">
    <div class="side-menu-top">
        <ul>
            <li onclick="displaySection('todos')"><i class="fa-solid fa-list-ul"></i> &emsp; All</li>
            <li><i class="fa-regular fa-calendar-check"></i> &emsp; Today</li>
            <li><i class="fa-regular fa-bell"></i> &emsp; Upcoming</li>
        </ul>
    </div>
</nav>
<section id="todos" class="main-todo-section">
    <div class="flex-todo-container">
        @for (int i = 0; i < Model.ToDoList.Count; i++)
        {
        <div class="todo" onclick="displaySection('detail')">
            <div class="todo-header">
                <h4 style="margin: 0;">@Model.ToDoList[i].Title</h4>
            </div>
            <div class="todo-body">
                <p>@Model.ToDoList[i].Description</p>
            </div>
            <div class="todo-footer">
                <button type="button" class="btn btn-card"><i class="fa-solid fa-check-double"></i></button>
                <button type="button" class="btn btn-card"><i class="fa-regular fa-pen-to-square"></i></button>
                <button type="button" class="btn btn-card"><i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>
        }
    </div>

</section>
<section id="detail" class="main-todo-section" style="display:none;">
    <h3>ToDo Title</h3>
    <p>Description goes here goes heregoes heregoes heregoes heregoes heregoes heregoes heregoes heregoes here</p>

</section>