@model Sample_ToDo_WebApp.Models.ToDo

<h3>@Model.Title</h3>
<b>Description:</b>
<p>@Model.Description</p>
<b>Key objectives:</b>
<p>OIDC stands for Open ID Connect protocol that builds up on top of OAuth2.0 and is used for user authorization.</p>

