<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sample_ToDo_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sample_ToDo_WebApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/f073a1ffbd.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="~/js/site.js"></script>
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <h3>MyTracker</h3>
                </div>
                <div class="horizontal-nav">
                    <button type="button" class="btn btn-create" onclick="displaySection('create')"><i class="fa-solid fa-plus"></i></button>
                    <span class="username"> Ondřej <i class="fa-solid fa-circle-user"></i></span>
                </div>
            </nav>
        </div>
    </header>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
