@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-size: 1rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

header {
    height: 50px;
    width: 100%;
    background-color: #E25757;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h3 {
    margin: 0;
    color: white;
}

.username {
    color: white;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

/*--SIDEBAR------------------------------------------------------*/
.sidebar {
    position: absolute;
    left: 0;
    top: 50px; /*header height*/
    width: 25%;
    height: calc(100% - 50px);
    background-color: #F2F2F2;
}

@media (max-width: 500px) {
    .sidebar {
        width: 15%;
    }

    .main-todo-section {
        margin-left: 15% !important;
        width: 85%;
        padding: 5px !important;
    }

    .side-menu-top ul {
        display: none;
    }
}

/*--Side Menu Top--------------------------------------------------------------------------------------------------*/
.side-menu-top {
    position: absolute;
    top: 40px;
    margin-left: 10%;
    width: 90%;
}

    .side-menu-top ul {
        list-style: none;
        font-weight: 500;
    }

        .side-menu-top ul li:hover {
            font-weight: 700;
            cursor: pointer;
        }

        .side-menu-top ul li {
            margin-top: 5px;
        }

/*--MAIN Section--------------------------------------------------------------------------------------------------*/
.main-section {
    margin-left: 25%;
    height: calc(100% - 50px);
    width: 75%;
    position: absolute;
    box-sizing: border-box; /*padding wont be added to the divs width and height*/
    /* padding: 25px 50px; */
    overflow-y: scroll;
}

/*--To Do Section-------------------------------------------------------------------------------------------------*/

.flex-todo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:20px;
}

.todo {
    width: 250px;
    height: 250px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}

    .todo:hover .todo-footer-navigation {
        bottom: 100px;
        opacity: 1;
    }

    .todo:hover {
        background-color: #F2F2F2;
    }

.animate {
    transition: all 0.3s ease-in-out;
}

.todo p {
    margin: 0;
    margin-top: 20px;
}

.todo-header {
    text-align: center;
}

    .todo-header b {
        color: dimgray;
        font-size: 0.8rem;
    }

.todo-body {
    margin-top: 10px;
}

.todo-footer {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    text-align: center;
}

.todo-footer-navigation {
    position: absolute;
    bottom: -30%; /*20px*/
    width: calc(100% - 40px);
    text-align: center;
    opacity: 0;
}

/*--Section-------------------------------------------------------------------------------------------------*/
.section-container {
    padding: 20px 50px;
    height: calc(100% - 50px);
    margin-top:20px;
}

/*--BTNs------------------------------------------------------*/
.btn-create {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 5px 10px;
}

/*.btn:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}*/

.btn-card {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color:black;
    /*background-color: white;*/
}

/*--Backgrounds------------------------------------------------------*/

.bg-green {
    background-color: #5cb85c;
}

.bg-orange {
    background-color: #f0ad4e;
}

.bg-red {
    background-color: #d9534f;
}

.badge{
    background-color: dodgerblue;
    color: white;
    font-weight:bold;
    padding: 5px 10px;
    z-index:9999;
}


/*--Media queries------------------------------------------------------------------------------------------*/


@media (orientation: landscape) {
    /*zobrazení na šíøku*/
}

@media (orientation: portrait) {
    /*zobrazení na výšku*/

}
